Create a pandas series with some random numbers and texts and some null values.
- Add some data to your series
- Change data type to integer
- Remove the null values
- Sort the index of your series alphabetically 
- Count the occurrences of unique items of the series
- Sort the given series in descending order

In [1]:
import numpy as np
import pandas as pd

# Create a pandas series with some random numbers and texts and some null values
series = pd.Series({"H":1,"O":2,"W":3,"A":"Apple","R":None,"E":"Banana","U":None})
print(series)
print()

# Add some data to your series
series = series.append(pd.Series({'D': 'Abhijan'}))
print(series)
print()

# # Change data type to integer
# col = series[0].astype('int32')
# print(col)
print('Returns an error because str and null cannot be cast to int32')
print()

# Remove the null values
series = series.dropna(0, how='any')
print(series)
print()

# Sort the index of your series alphabetically
series_sorted = series.sort_index()
print(series_sorted)
print()

# Count the occurrences of unique items of the series
uniques = series.value_counts()
print(uniques)
print()

# Sort the given series in descending order
desc = series.sort_index(ascending=False)
print(desc)

H         1
O         2
W         3
A     Apple
R      None
E    Banana
U      None
dtype: object

H          1
O          2
W          3
A      Apple
R       None
E     Banana
U       None
D    Abhijan
dtype: object

Returns an error because str and null cannot be cast to int32

H          1
O          2
W          3
A      Apple
E     Banana
D    Abhijan
dtype: object

A      Apple
D    Abhijan
E     Banana
H          1
O          2
W          3
dtype: object

Abhijan    1
1          1
2          1
3          1
Banana     1
Apple      1
dtype: int64

W          3
O          2
H          1
E     Banana
D    Abhijan
A      Apple
dtype: object

Create a dataframe having 5 columns and 50 random data
- Retrieve the data from index 30-40 with the first 3 columns (Note: Use column index only)
- Retrieve last 10 rows of 2nd and 5th columns (Note: Use column name only)
- Retrieve 1st and 5th column with some condition applied to 2nd column (Condition Example: all rows having value greater than x).
- Sample some of the data from the 1st column into a list and add some additional random data in it. Filter the dataframe and retrieve only those rows if 1st column contains the sampled data (Explore ‘isin’)
- Update the value of the 1st and 3rd column with new values in the 35th index of row
- Delete the row of the index position: 35, 39, 51. And reindex the dataframe

In [2]:
# Create a dataframe having 5 columns and 50 random data
df = pd.DataFrame(np.random.randint(100, size=(50, 5)), columns=['A','B','C','D','E'])

# Retrieve the data from index 30-40 with the first 3 columns (Note: Use column index only)
selected_df_1 = df.iloc[30:40,:3]
print("First 3 cols, row 30-40")
display(selected_df_1)
print()

# Retrieve last 10 rows of 2nd and 5th columns (Note: Use column name only)
selected_df_2 = df[['B','E']].iloc[-10:]
print("2nd and 5th cols, last 10 rows")
display(selected_df_2)
print()

# Retrieve 1st and 5th column with some condition applied to 2nd column (Condition Example: all rows having value greater than x)
print("1st and 5th cols when val of col 2nd is greater than 50")
selected_df_3 = df[df['B']>50].iloc[:,[0,4]]
display(selected_df_3)
print()

# Sample some of the data from the 1st column into a list and add some additional random data in it.
selected_list = np.array([df.iloc[20:30,:1].values[x][0] for x in range (0,10)])
selected_list = np.append(selected_list, np.random.randint(100, size=(5, 1)))
# print(selected_list)
# print()

# Filter the dataframe and retrieve only those rows if 1st column contains the sampled data (Explore ‘isin’)
selected_df_4 = df[df['A'].isin(selected_list)]
print("All cols when rows of 1st col contains data from list", selected_list)
display(selected_df_4)

# Update the value of the 1st and 3rd column with new values in the 35th index of row
# display(df.loc[35,['A','C']])
df.at[35,['A', 'C']] = np.random.randint(100),np.random.randint(100)
# display(df.loc[35,['A','C']])

# Delete the row of the index position: 35, 39, 51. And reindex the dataframe
df =  df.drop([35, 39, 41])
df = df.reindex(np.arange(60))
display(df)

First 3 cols, row 30-40

2nd and 5th cols, last 10 rows

1st and 5th cols when val of col 2nd is greater than 50

All cols when rows of 1st col contains data from list [10 54 26 69 90 13 82 55 34 95 36 68 55 45 60]

     A   B   C
30  59  31  71
31  68  54  90
32   0  72  46
33  53  22  35
34  39  22  48
35   7  32  31
36  36  49  19
37  55  19  56
38   7  95  60
39  83   0  45

     B   E
40  80  66
41  47  42
42  47  40
43  40  92
44  33  61
45  78  11
46  31  76
47  83  99
48  47  51
49  93  87

     A   E
0   56  67
3    3  32
4   32   9
6   56  79
7   44  28
8   94  89
10  77  78
11  50  28
17  79  47
18   6  96
19   4  46
20  10  38
22  26  23
23  69  40
25  13  23
27  55  51
29  95  38
31  68  95
32   0  44
38   7  15
40  54  66
45  30  11
47   3  99
49   7  87

     A   B   C   D   E
16  10  22  90  69  91
20  10  99  96   0  38
21  54  46  77  75  28
22  26  87   2  93  23
23  69  81  49   1  40
24  90  26  85  13  35
25  13  91  30  15  23
26  82  26   5  30  88
27  55  97   7  56  51
28  34  31  44  57  95
29  95  74  74  77  38
31  68  54  90  14  95
36  36  49  19  36  91
37  55  19  56  18  46
40  54  80  58   1  66
43  69  40  23  81  92

       A     B     C     D     E
0   56.0  72.0   6.0  10.0  67.0
1   22.0  27.0  31.0  45.0  34.0
2   47.0  36.0   9.0  48.0  82.0
3    3.0  78.0  98.0  20.0  32.0
4   32.0  94.0  31.0  65.0   9.0
5    5.0  48.0  87.0  21.0  68.0
6   56.0  52.0  32.0  39.0  79.0
7   44.0  76.0  44.0  54.0  28.0
8   94.0  70.0  46.0   7.0  89.0
9    2.0  38.0  93.0  88.0  49.0
10  77.0  94.0  69.0  74.0  78.0
11  50.0  74.0  42.0  26.0  28.0
12  88.0  46.0  22.0  75.0  65.0
13  19.0  44.0  60.0  82.0  71.0
14  11.0  11.0  51.0  49.0  23.0
15  63.0  34.0  76.0   9.0  19.0
16  10.0  22.0  90.0  69.0  91.0
17  79.0  51.0  22.0  19.0  47.0
18   6.0  74.0  68.0   5.0  96.0
19   4.0  83.0  49.0  89.0  46.0
20  10.0  99.0  96.0   0.0  38.0
21  54.0  46.0  77.0  75.0  28.0
22  26.0  87.0   2.0  93.0  23.0
23  69.0  81.0  49.0   1.0  40.0
24  90.0  26.0  85.0  13.0  35.0
25  13.0  91.0  30.0  15.0  23.0
26  82.0  26.0   5.0  30.0  88.0
27  55.0  97.0   7.0  56.0  51.0
28  34.0  31.0  44.0  57.0  95.0
29  95.0  74.0  74.0  77.0  38.0
30  59.0  31.0  71.0  22.0  81.0
31  68.0  54.0  90.0  14.0  95.0
32   0.0  72.0  46.0  15.0  44.0
33  53.0  22.0  35.0  34.0  29.0
34  39.0  22.0  48.0  63.0  75.0
35   NaN   NaN   NaN   NaN   NaN
36  36.0  49.0  19.0  36.0  91.0
37  55.0  19.0  56.0  18.0  46.0
38   7.0  95.0  60.0  51.0  15.0
39   NaN   NaN   NaN   NaN   NaN
40  54.0  80.0  58.0   1.0  66.0
41   NaN   NaN   NaN   NaN   NaN
42  43.0  47.0  78.0  37.0  40.0
43  69.0  40.0  23.0  81.0  92.0
44  18.0  33.0  24.0  70.0  61.0
45  30.0  78.0  24.0   6.0  11.0
46  25.0  31.0  34.0  80.0  76.0
47   3.0  83.0  78.0  69.0  99.0
48  65.0  47.0  24.0  78.0  51.0
49   7.0  93.0  25.0  71.0  87.0
50   NaN   NaN   NaN   NaN   NaN
51   NaN   NaN   NaN   NaN   NaN
52   NaN   NaN   NaN   NaN   NaN
53   NaN   NaN   NaN   NaN   NaN
54   NaN   NaN   NaN   NaN   NaN
55   NaN   NaN   NaN   NaN   NaN
56   NaN   NaN   NaN   NaN   NaN
57   NaN   NaN   NaN   NaN   NaN
58   NaN   NaN   NaN   NaN   NaN
59   NaN   NaN   NaN   NaN   NaN

Create two dataframe (first dataframe having 50 random data and second dataframe having 40 random data). Each dataframe should have 3 columns including a common column (example: id) and 90% of data in common column should have identical data
- Merge both the dataframe using:
    - Inner
    - Outer
    - Left
    - Right
- Evaluate the differences observed 
- Use join() to combine the dataframe
- Use concat to combine the dataframe
- Evaluate the differences observed between merge, join and concat_

In [3]:
# Create two dataframe (first dataframe having 50 random data and second dataframe having 40 random data). Each dataframe should have 3 columns including a common column (example: id) and 90% of data in common column should have identical data
df1 = pd.DataFrame(np.random.randint(100, size=(50, 2)), columns=['A','B'])
index  = pd.Series(np.arange(0, 50), name='id', dtype='int32')
df1 = pd.concat([index, df1], axis=1)
# df1.set_index(np.arange(0, 50))
df2 = pd.DataFrame(np.random.randint(100, size=(40, 2)), columns=['A','C'])
index  = pd.Series(np.arange(0, 40), name='id', dtype='int32')
df2 = pd.concat([index, df2], axis=1)

# display(df1)
# display(df2)

# Merge both the dataframe using:
#     - Inner
inner = df1.merge(df2, how='inner', on='id')
print("Inner")
display(inner)

#     - Outer
outer = df1.merge(df2, how='outer', on='id')
print("Outer")
display(outer)

#     - Left
left = df1.merge(df2, how='left', on='id')
print("Left")
display(left)

#     - Right
right = df1.merge(df2, how='right', on='id')
print("Right")
display(right)

# - Evaluate the differences observed 
print("Inner: takes intersection of keys of both dfs")
print("Outer: takes union of keys of both dfs")
print("Left: takes keys from left df")
print("Right: takes keys from right df")

# Use join() to combine the dataframe
joined = df1.join(df2, on="id", rsuffix='-r', how='outer')
print("Joined")
display(joined)

# - Use concat to combine the dataframe
concated = pd.concat([df1, df2],keys=['Series 1', 'Series 2'])
print("Concat")
display(concated)

# Evaluate the differences observed between merge, join and concat_
print("Merge: allows to merge two tables based on an index or a column. Possible use case: to add new columns to existing dataframe based on identifying column")
print("Join: is similar to merge but a little limited, allows to join two dataframes based on indices, Possible use case: to 'join' dataframes ")
print("Concat: allows to append values to existing dataframe. Possible use case: to add data to existing dataframe")
print()
print('Out of the three, merge is the most flexible and concat the most restrictive')

Inner
Outer
Left
Right
Inner: takes intersection of keys of both dfs
Outer: takes union of keys of both dfs
Left: takes keys from left df
Right: takes keys from right df
Joined
Concat
Merge: allows to merge two tables based on an index or a column. Possible use case: to add new columns to existing dataframe based on identifying column
Join: is similar to merge but a little limited, allows to join two dataframes based on indices, Possible use case: to 'join' dataframes
Concat: allows to append values to existing dataframe. Possible use case: to add data to existing dataframe

Out of the three, merge is the most flexible and concat the most restrictive

    id  A_x   B  A_y   C
0    0   34   8   55  84
1    1   70  24   54  57
2    2   55  96   38  90
3    3   11  56   54   5
4    4   53  74    2  22
5    5    2  45   69  39
6    6   23  94   65  97
7    7   58  94   77  65
8    8   32  47    0  19
9    9   35  99    3   3
10  10   89  97    5  29
11  11   17   5   72  59
12  12   60  43   47  55
13  13   60  63   66  19
14  14   76  73   75   4
15  15   67  18   58  41
16  16   26  21   36  77
17  17   10  65   54  26
18  18   88  17   75  88
19  19   76  14   43  67
20  20   63  73   52  92
21  21   27  36   64   4
22  22   91  29   38  18
23  23   79  86   96  25
24  24   33  42   39  37
25  25   69  43   58   0
26  26   78  69   21  50
27  27   75  78   27  90
28  28   28  41   69  31
29  29   88  80   85  38
30  30   75  14   31  76
31  31   52  15   38  13
32  32    5  28   83  96
33  33   40  76   91  85
34  34   89  25   20  44
35  35   99  85   60  24
36  36   66  95   61  22
37  37   80   7   94  38
38  38   43  45    8  95
39  39   18  71   35  73

    id  A_x   B   A_y     C
0    0   34   8  55.0  84.0
1    1   70  24  54.0  57.0
2    2   55  96  38.0  90.0
3    3   11  56  54.0   5.0
4    4   53  74   2.0  22.0
5    5    2  45  69.0  39.0
6    6   23  94  65.0  97.0
7    7   58  94  77.0  65.0
8    8   32  47   0.0  19.0
9    9   35  99   3.0   3.0
10  10   89  97   5.0  29.0
11  11   17   5  72.0  59.0
12  12   60  43  47.0  55.0
13  13   60  63  66.0  19.0
14  14   76  73  75.0   4.0
15  15   67  18  58.0  41.0
16  16   26  21  36.0  77.0
17  17   10  65  54.0  26.0
18  18   88  17  75.0  88.0
19  19   76  14  43.0  67.0
20  20   63  73  52.0  92.0
21  21   27  36  64.0   4.0
22  22   91  29  38.0  18.0
23  23   79  86  96.0  25.0
24  24   33  42  39.0  37.0
25  25   69  43  58.0   0.0
26  26   78  69  21.0  50.0
27  27   75  78  27.0  90.0
28  28   28  41  69.0  31.0
29  29   88  80  85.0  38.0
30  30   75  14  31.0  76.0
31  31   52  15  38.0  13.0
32  32    5  28  83.0  96.0
33  33   40  76  91.0  85.0
34  34   89  25  20.0  44.0
35  35   99  85  60.0  24.0
36  36   66  95  61.0  22.0
37  37   80   7  94.0  38.0
38  38   43  45   8.0  95.0
39  39   18  71  35.0  73.0
40  40   57  20   NaN   NaN
41  41   74  61   NaN   NaN
42  42   71  38   NaN   NaN
43  43   40  80   NaN   NaN
44  44   18  10   NaN   NaN
45  45   76  39   NaN   NaN
46  46   60   1   NaN   NaN
47  47   49  55   NaN   NaN
48  48    4  42   NaN   NaN
49  49   52  47   NaN   NaN

    id  A_x   B   A_y     C
0    0   34   8  55.0  84.0
1    1   70  24  54.0  57.0
2    2   55  96  38.0  90.0
3    3   11  56  54.0   5.0
4    4   53  74   2.0  22.0
5    5    2  45  69.0  39.0
6    6   23  94  65.0  97.0
7    7   58  94  77.0  65.0
8    8   32  47   0.0  19.0
9    9   35  99   3.0   3.0
10  10   89  97   5.0  29.0
11  11   17   5  72.0  59.0
12  12   60  43  47.0  55.0
13  13   60  63  66.0  19.0
14  14   76  73  75.0   4.0
15  15   67  18  58.0  41.0
16  16   26  21  36.0  77.0
17  17   10  65  54.0  26.0
18  18   88  17  75.0  88.0
19  19   76  14  43.0  67.0
20  20   63  73  52.0  92.0
21  21   27  36  64.0   4.0
22  22   91  29  38.0  18.0
23  23   79  86  96.0  25.0
24  24   33  42  39.0  37.0
25  25   69  43  58.0   0.0
26  26   78  69  21.0  50.0
27  27   75  78  27.0  90.0
28  28   28  41  69.0  31.0
29  29   88  80  85.0  38.0
30  30   75  14  31.0  76.0
31  31   52  15  38.0  13.0
32  32    5  28  83.0  96.0
33  33   40  76  91.0  85.0
34  34   89  25  20.0  44.0
35  35   99  85  60.0  24.0
36  36   66  95  61.0  22.0
37  37   80   7  94.0  38.0
38  38   43  45   8.0  95.0
39  39   18  71  35.0  73.0
40  40   57  20   NaN   NaN
41  41   74  61   NaN   NaN
42  42   71  38   NaN   NaN
43  43   40  80   NaN   NaN
44  44   18  10   NaN   NaN
45  45   76  39   NaN   NaN
46  46   60   1   NaN   NaN
47  47   49  55   NaN   NaN
48  48    4  42   NaN   NaN
49  49   52  47   NaN   NaN

    id  A_x   B  A_y   C
0    0   34   8   55  84
1    1   70  24   54  57
2    2   55  96   38  90
3    3   11  56   54   5
4    4   53  74    2  22
5    5    2  45   69  39
6    6   23  94   65  97
7    7   58  94   77  65
8    8   32  47    0  19
9    9   35  99    3   3
10  10   89  97    5  29
11  11   17   5   72  59
12  12   60  43   47  55
13  13   60  63   66  19
14  14   76  73   75   4
15  15   67  18   58  41
16  16   26  21   36  77
17  17   10  65   54  26
18  18   88  17   75  88
19  19   76  14   43  67
20  20   63  73   52  92
21  21   27  36   64   4
22  22   91  29   38  18
23  23   79  86   96  25
24  24   33  42   39  37
25  25   69  43   58   0
26  26   78  69   21  50
27  27   75  78   27  90
28  28   28  41   69  31
29  29   88  80   85  38
30  30   75  14   31  76
31  31   52  15   38  13
32  32    5  28   83  96
33  33   40  76   91  85
34  34   89  25   20  44
35  35   99  85   60  24
36  36   66  95   61  22
37  37   80   7   94  38
38  38   43  45    8  95
39  39   18  71   35  73

    id   A   B  id-r   A-r     C
0    0  34   8   0.0  55.0  84.0
1    1  70  24   1.0  54.0  57.0
2    2  55  96   2.0  38.0  90.0
3    3  11  56   3.0  54.0   5.0
4    4  53  74   4.0   2.0  22.0
5    5   2  45   5.0  69.0  39.0
6    6  23  94   6.0  65.0  97.0
7    7  58  94   7.0  77.0  65.0
8    8  32  47   8.0   0.0  19.0
9    9  35  99   9.0   3.0   3.0
10  10  89  97  10.0   5.0  29.0
11  11  17   5  11.0  72.0  59.0
12  12  60  43  12.0  47.0  55.0
13  13  60  63  13.0  66.0  19.0
14  14  76  73  14.0  75.0   4.0
15  15  67  18  15.0  58.0  41.0
16  16  26  21  16.0  36.0  77.0
17  17  10  65  17.0  54.0  26.0
18  18  88  17  18.0  75.0  88.0
19  19  76  14  19.0  43.0  67.0
20  20  63  73  20.0  52.0  92.0
21  21  27  36  21.0  64.0   4.0
22  22  91  29  22.0  38.0  18.0
23  23  79  86  23.0  96.0  25.0
24  24  33  42  24.0  39.0  37.0
25  25  69  43  25.0  58.0   0.0
26  26  78  69  26.0  21.0  50.0
27  27  75  78  27.0  27.0  90.0
28  28  28  41  28.0  69.0  31.0
29  29  88  80  29.0  85.0  38.0
30  30  75  14  30.0  31.0  76.0
31  31  52  15  31.0  38.0  13.0
32  32   5  28  32.0  83.0  96.0
33  33  40  76  33.0  91.0  85.0
34  34  89  25  34.0  20.0  44.0
35  35  99  85  35.0  60.0  24.0
36  36  66  95  36.0  61.0  22.0
37  37  80   7  37.0  94.0  38.0
38  38  43  45  38.0   8.0  95.0
39  39  18  71  39.0  35.0  73.0
40  40  57  20   NaN   NaN   NaN
41  41  74  61   NaN   NaN   NaN
42  42  71  38   NaN   NaN   NaN
43  43  40  80   NaN   NaN   NaN
44  44  18  10   NaN   NaN   NaN
45  45  76  39   NaN   NaN   NaN
46  46  60   1   NaN   NaN   NaN
47  47  49  55   NaN   NaN   NaN
48  48   4  42   NaN   NaN   NaN
49  49  52  47   NaN   NaN   NaN

             id   A     B     C
Series 1 0    0  34   8.0   NaN
         1    1  70  24.0   NaN
         2    2  55  96.0   NaN
         3    3  11  56.0   NaN
         4    4  53  74.0   NaN
...          ..  ..   ...   ...
Series 2 35  35  60   NaN  24.0
         36  36  61   NaN  22.0
         37  37  94   NaN  38.0
         38  38   8   NaN  95.0
         39  39  35   NaN  73.0

[90 rows x 4 columns]

Create a dataframe having 3 columns: name, nationality, age and perform:
- Use filter() to get all data of column name and age
- Retrieve all the data of the column starting with “na”
- Retrieve all the data of the column ending with “e”
- Retrieve all the data of the column having subset “am” (hint: explore ‘like’ in filter())

In [4]:
# Create a dataframe having 3 columns: name, nationality, age
names = pd.Series(['Abhijan', 'Prabesh', 'Muna','Sangam','Rohan','Mamata'])
age = pd.Series([50, 42, 23, 37, 28, 23])
nationality = pd.Series(['US','UK','Norway','Australia','Netherlands','Japan'])
df = pd.DataFrame({'Name':names,'Age':age,'Nationality':nationality})
# display(df)

# Use filter() to get all data of column name and age
name_and_age = df.filter(items=['Name', 'Age'])
print("Name and Age")
display(name_and_age)

# - Retrieve all the data of the column starting with “na”
start_Na = df.filter(regex='^(Na)')
print("Cols start with 'Na'")
display(start_na)

# - Retrieve all the data of the column ending with “e”
end_e = df.filter(regex='(e)$')
print("Cols end with 'e'")
display(end_e)

# - Retrieve all the data of the column having subset “am” (hint: explore ‘like’ in filter())
have_am = df.filter(like='am')
print("Cols containing 'am'")
display(have_am)

Name and Age
Cols start with 'Na'

      Name  Age
0  Abhijan   50
1  Prabesh   42
2     Muna   23
3   Sangam   37
4    Rohan   28
5   Mamata   23

NameError: name 'start_na' is not defined

- Use this dataset and perform the following tasks:
    - Read the dataset as pandas dataframe
    - Find the number of cases for each country
    - Filter the Country_Region whose value == “India” and assign it in dataframe df_india.
        - Retrieve the active cases of “Madhya Pradesh” Province from df_india.
        - Retrieve the state with the maximum number of confirmed cases from df_india.
    - Filter the Country_Region whose value == “Canada” and assign it in dataframe df_canada.
        - Province/State Diamond Princess  has the “NaN” value for Active number of cases. Fill it with the median of the Active cases.
    - Filter the Country_Region whose value == “US” and assign it in dataframe df_us.
        - Groupby the df_us dataframe by ‘State_Province’ and aggregate with maximum values of the attributes and assign it in df_us_states.
        - Re-index the dataframe df_us_states.
        - The United States has 50 states. df_us_states contains additional states which are not the states of the United States. Remove those additional states from the dataframe.
        - Which state has the minimum number of active cases?

In [314]:
# Read the dataset as pandas dataframe
df = pd.read_csv('dataset.csv')
df.head()

# Find the number of cases for each country
cases = df.filter(items=['Country_Region', 'Confirmed']).groupby(['Country_Region']).sum()
cases.head()

                Confirmed
Country_Region
Afghanistan         51526
Albania             58316
Algeria             99897
Andorra              8117
Angola              17568

In [319]:
# Filter the Country_Region whose value == “India” and assign it in dataframe df_india
df_india = df[df['Country_Region']=='India']
display(df_india)

# Retrieve the active cases of “Madhya Pradesh” Province from df_india.
madhya_pradesh = df_india[df_india['Province_State']=='Madhya Pradesh'].Active
print("Active Cases in Madhya Pradesh",madhya_pradesh.values[0])

# Retrieve the state with the maximum number of confirmed cases from df_india.
id = df_india['Confirmed'].idxmax()
max_india = df_india.loc[id].Province_State
print("Maximum Confirmed Cases in state:",max_india)

,FIPS,Admin2,Province_State,Country_Region,Last_Update,Lat,Long_,Confirmed,Deaths,Recovered,Active,Combined_Key,Incident_Rate,Case_Fatality_Ratio
247,NaN,NaN,Andaman and Nicobar Islands,India,2021-01-02 05:22:33,11.225999,92.968178,4945,62,4826,57.0,"Andaman and Nicobar Islands, India",1185.748952,1.253792
248,NaN,NaN,Andhra Pradesh,India,2021-01-02 05:22:33,15.912900,79.740000,882286,7108,871916,3262.0,"Andhra Pradesh, India",1636.791213,0.805634
249,NaN,NaN,Arunachal Pradesh,India,2021-01-02 05:22:33,27.768456,96.384277,16719,56,16564,99.0,"Arunachal Pradesh, India",1064.593896,0.334948
250,NaN,NaN,Assam,India,2021-01-02 05:22:33,26.357149,92.830441,216211,1045,211910,3256.0,"Assam, India",607.214208,0.483324
251,NaN,NaN,Bihar,India,2021-01-02 05:22:33,25.679658,85.604840,251743,1397,245476,4870.0,"Bihar, India",201.717267,0.554931
252,NaN,NaN,Chandigarh,India,2021-01-02 05:22:33,30.733839,76.768278,19748,317,19045,386.0,"Chandigarh, India",1704.657769,1.605226
253,NaN,NaN,Chhattisgarh,India,2021-01-02 05:22:33,21.264705,82.035366,279575,3371,264769,11435.0,"Chhattisgarh, India",949.764934,1.205759
254,NaN,NaN,Dadra and Nagar Haveli and Daman and Diu,India,2021-01-02 05:22:33,20.194742,73.080901,3378,2,3365,11.0,"Dadra and Nagar Haveli and Daman and Diu, India",548.622435,0.059207
255,NaN,NaN,Delhi,India,2021-01-02 05:22:33,28.646519,77.108980,625369,10536,609322,5511.0,"Delhi, India",3342.267153,1.684765
256,NaN,NaN,Goa,India,2021-01-02 05:22:33,15.359682,74.057396,51066,739,49388,939.0,"Goa, India",3219.290780,1.447147
257,NaN,NaN,Gujarat,India,2021-01-02 05:22:33,22.694884,71.590923,245038,4306,230893,9839.0,"Gujarat, India",383.636757,1.757278
258,NaN,NaN,Haryana,India,2021-01-02 05:22:33,29.200040,76.332824,262325,2905,255853,3567.0,"Haryana, India",930.075748,1.107405
259,NaN,NaN,Himachal Pradesh,India,2021-01-02 05:22:33,31.927213,77.233081,55277,934,51728,2615.0,"Himachal Pradesh, India",741.778500,1.689672
260,NaN,NaN,Jammu and Kashmir,India,2021-01-02 05:22:33,33.759430,76.612638,120971,1883,116079,3009.0,"Jammu and Kashmir, India",889.079487,1.556571
261,NaN,NaN,Jharkhand,India,2021-01-02 05:22:33,23.654536,85.557631,115113,1030,112424,1659.0,"Jharkhand, India",298.266972,0.894773
262,NaN,NaN,Karnataka,India,2021-01-02 05:22:33,14.705180,76.166436,919496,12090,896116,11290.0,"Karnataka, India",1360.952405,1.314851
263,NaN,NaN,Kerala,India,2021-01-02 05:22:33,10.450898,76.405749,760933,3072,692480,65381.0,"Kerala, India",2131.498242,0.403715
264,NaN,NaN,Ladakh,India,2021-01-02 05:22:33,34.152600,77.577100,9466,127,9144,195.0,"Ladakh, India",3451.104492,1.341644
265,NaN,NaN,Lakshadweep,India,2021-01-02 05:22:33,13.699997,72.183333,0,0,0,0.0,"Lakshadweep, India",0.000000,NaN
266,NaN,NaN,Madhya Pradesh,India,2021-01-02 05:22:33,23.541513,78.289633,241791,3606,228831,9354.0,"Madhya Pradesh, India",283.263744,1.491371
267,NaN,NaN,Maharashtra,India,2021-01-02 05:22:33,19.449759,76.108221,1932112,49521,1828546,54045.0,"Maharashtra, India",1568.983061,2.563050
268,NaN,NaN,Manipur,India,2021-01-02 05:22:33,24.738975,93.882541,28188,355,26678,1155.0,"Manipur, India",911.777121,1.259401
269,NaN,NaN,Meghalaya,India,2021-01-02 05:22:33,25.536934,91.278882,13427,139,13139,149.0,"Meghalaya, India",398.816649,1.035228
270,NaN,NaN,Mizoram,India,2021-01-02 05:22:33,23.309381,92.838220,4216,8,4098,110.0,"Mizoram, India",340.207417,0.189753
271,NaN,NaN,Nagaland,India,2021-01-02 05:22:33,26.067020,94.470302,11927,79,11646,202.0,"Nagaland, India",530.160755,0.662363
272,NaN,NaN,Odisha,India,2021-01-02 05:22:33,20.505428,84.418059,329621,1873,325432,2316.0,"Odisha, India",711.059248,0.568228
273,NaN,NaN,Puducherry,India,2021-01-02 05:22:33,11.882658,78.864980,38132,633,37115,384.0,"Puducherry, India",2697.620587,1.660023
274,NaN,NaN,Punjab,India,2021-01-02 05:22:33,30.841465,75.408790,166522,5341,157496,3685.0,"Punjab, India",552.469856,3.207384
275,NaN,NaN,Rajasthan,India,2021-01-02 05:22:33,26.583423,73.847973,308243,2696,295987,9560.0,"Rajasthan, India",380.393399,0.874635
276,NaN,NaN,Sikkim,India,2021-01-02 05:22:33,27.571671,88.472712,5889,127,5233,529.0,"Sikkim, India",853.167906,2.156563
277,NaN,NaN,Tamil Nadu,India,2021-01-02 05:22:33,11.006091,78.400624,818014,12122,797391,8501.0,"Tamil Nadu, India",1050.874467,1.481882
278,NaN,NaN,Telangana,India,2021-01-02 05:22:33,18.112400,79.019300,286815,1544,279456,5815.0,"Telangana, India",728.646071,0.538326
279,NaN,NaN,Tripura,India,2021-01-02 05:22:33,23.746783,91.743565,33268,385,32779,104.0,"Tripura, India",797.833178,1.157268
280,NaN,NaN,Unknown,India,2021-01-02 05:22:33,NaN,NaN,0,0,0,0.0,"Unknown, India",NaN,NaN
281,NaN,NaN,Uttar Pradesh,India,2021-01-02 05:22:33,26.925425,80.560982,585902,8364,563278,14260.0,"Uttar Pradesh, India",246.298675,1.427542
282,NaN,NaN,Uttarakhand,India,2021-01-02 05:22:33,30.156447,79.197608,90920,1509,84692,4719.0,"Uttarakhand, India",808.116145,1.659701
283,NaN,NaN,West Bengal,India,2021-01-02 05:22:33,23.814082,87.979803,552063,9712,530366,11985.0,"West Bengal, India",554.228354,1.759220

Active Cases in Madhya Pradesh 9354.0
Maximum Confirmed Cases in state: Maharashtra

In [322]:
# Filter the Country_Region whose value == “Canada” and assign it in dataframe df_canada.
df_canada = df[df['Country_Region']=='Canada']

# - Province/State Diamond Princess  has the “NaN” value for Active number of cases. Fill it with the median of the Active cases.
df_canada.at[df_canada.Province_State=="Diamond Princess", 'Active'] = df_canada.Active.median()
print("Filled median value",df_canada.Active.median(), "for Diamond Princess")
display(df_canada)

Filled median value 22.0 for Diamond Princess

,FIPS,Admin2,Province_State,Country_Region,Last_Update,Lat,Long_,Confirmed,Deaths,Recovered,Active,Combined_Key,Incident_Rate,Case_Fatality_Ratio
76,NaN,NaN,Alberta,Canada,2021-01-02 05:22:33,53.9333,-116.5765,100428,1046,84827,14555.0,"Alberta, Canada",2275.655507,1.041542
77,NaN,NaN,British Columbia,Canada,2021-01-02 05:22:33,53.7267,-127.6476,51990,901,42127,8962.0,"British Columbia, Canada",1017.234285,1.733026
78,NaN,NaN,Diamond Princess,Canada,2020-12-21 13:27:30,NaN,NaN,0,1,0,22.0,"Diamond Princess, Canada",NaN,NaN
79,NaN,NaN,Grand Princess,Canada,2020-12-21 13:27:30,NaN,NaN,13,0,13,0.0,"Grand Princess, Canada",NaN,0.000000
80,NaN,NaN,Manitoba,Canada,2021-01-02 05:22:33,53.7609,-98.8139,24700,667,19528,4505.0,"Manitoba, Canada",1793.081320,2.700405
81,NaN,NaN,New Brunswick,Canada,2021-01-02 05:22:33,46.5653,-66.4619,601,9,567,25.0,"New Brunswick, Canada",77.051974,1.497504
82,NaN,NaN,Newfoundland and Labrador,Canada,2021-01-02 05:22:33,53.1355,-57.6604,390,4,366,20.0,"Newfoundland and Labrador, Canada",74.803640,1.025641
83,NaN,NaN,Northwest Territories,Canada,2021-01-02 05:22:33,64.8255,-124.8457,24,0,24,0.0,"Northwest Territories,Canada",53.447354,0.000000
84,NaN,NaN,Nova Scotia,Canada,2021-01-02 05:22:33,44.6820,-63.7443,1486,65,1399,22.0,"Nova Scotia, Canada",152.027148,4.374159
85,NaN,NaN,Nunavut,Canada,2021-01-02 05:22:33,70.2998,-83.1076,266,1,262,3.0,"Nunavut, Canada",685.920578,0.375940
86,NaN,NaN,Ontario,Canada,2021-01-02 05:22:33,51.2538,-85.3232,187344,4568,162622,20154.0,"Ontario, Canada",1273.424436,2.438295
87,NaN,NaN,Prince Edward Island,Canada,2021-01-02 05:22:33,46.5107,-63.4168,94,0,89,5.0,"Prince Edward Island, Canada",59.434237,0.000000
88,NaN,NaN,Quebec,Canada,2021-01-02 05:22:33,52.9399,-73.5491,202641,8388,170045,24370.0,"Quebec, Canada",2373.491890,4.059396
89,NaN,NaN,Repatriated Travellers,Canada,2021-01-02 05:22:33,NaN,NaN,13,0,13,0.0,"Repatriated Travellers, Canada",NaN,0.000000
90,NaN,NaN,Saskatchewan,Canada,2021-01-02 05:22:33,52.9399,-106.4509,15350,155,12496,2699.0,"Saskatchewan, Canada",1299.013427,1.009772
91,NaN,NaN,Yukon,Canada,2021-01-02 05:22:33,64.2823,-135.0000,60,1,59,0.0,"Yukon, Canada",146.063586,1.666667

In [329]:
# - Filter the Country_Region whose value == “US” and assign it in dataframe df_us.
df_us = df[df['Country_Region']=='US']

# - Groupby the df_us dataframe by ‘State_Province’ and aggregate with maximum values of the attributes and assign it in df_us_states.
df_us_states = df_us.groupby('Province_State').max()
print("Grouped by 'Province_State'")
display(df_us_states)

# - Re-index the dataframe df_us_states.
df_us_states = df_us_states.reset_index().set_index(np.arange(len(df_us_states.index)))
print("Re-indexed")
display(df_us_states)

# - The United States has 50 states. df_us_states contains additional states which are not the states of the United States. Remove those additional states from the dataframe.
clean_us_states = df_us_states[df_us_states['Admin2'].isnull() != True]
clean_us_states = clean_us_states[(clean_us_states['Province_State'].str.contains('District of Columbia') != True)]
clean_us_states = clean_us_states[(clean_us_states['Province_State'].str.contains('Puerto Rico') != True)]
print("Number of entries after cleaning is: ",len(clean_us_states.index))
display(clean_us_states)


# - Which state has the minimum number of active cases?
min_state = clean_us_states.loc[clean_us_states.Active.idxmin()].Province_State
print(min_state)

Grouped by 'Province_State'
Re-indexed
Number of entries after cleaning is:  50
Vermont

,FIPS,Admin2,Country_Region,Last_Update,Lat,Long_,Confirmed,Deaths,Recovered,Active,Combined_Key,Incident_Rate,Case_Fatality_Ratio
Province_State,,,,,,,,,,,,,
Alabama,90001.0,Winston,US,2021-01-02 05:22:33,34.901719,-85.184153,53058,719,0,52339.0,"Winston, Alabama, US",10522.288119,4.480652
Alaska,90002.0,Yukon-Koyukuk,US,2021-04-02 15:13:53,69.314792,-130.975561,22922,120,0,22802.0,"Yukon-Koyukuk, Alaska, US",13205.699989,3.225806
Arizona,90004.0,Yuma,US,2021-01-02 05:22:33,35.838834,-109.240528,325404,5196,0,320208.0,"Yuma, Arizona, US",13080.132479,3.213063
Arkansas,90005.0,Yell,US,2021-01-02 05:22:33,36.381771,-90.051944,25209,392,0,24817.0,"Yell, Arkansas, US",21713.759214,4.715840
California,90006.0,Yuba,US,2021-01-02 05:22:33,41.742283,-115.366904,790582,10552,0,780030.0,"Yuba, California, US",15343.603833,3.149606
Colorado,90008.0,Yuma,US,2021-01-02 05:22:33,40.875954,-102.351923,48023,669,0,47354.0,"Yuma, Colorado, US",27388.219766,6.521739
Connecticut,90009.0,Windham,US,2021-01-02 05:22:33,41.858538,-71.981823,56288,1852,0,54568.0,"Windham, Connecticut, US",5966.934229,3.967438
Delaware,90010.0,Unassigned,US,2021-01-02 05:22:33,39.579926,-75.390313,33433,541,0,32969.0,"Unassigned, Delaware, US",6474.970648,1.964922
Diamond Princess,88888.0,NaN,US,2020-08-04 02:27:56,NaN,NaN,49,0,0,49.0,"Diamond Princess, US",NaN,0.000000
District of Columbia,11001.0,District of Columbia,US,2021-01-02 05:22:33,38.904178,-77.016560,29252,788,0,28464.0,"District of Columbia, District of Columbia ,US",4144.816358,2.693833
Florida,90012.0,Washington,US,2021-01-02 05:22:33,30.867475,-80.431098,298873,4188,0,294685.0,"Washington, Florida, US",16884.350511,4.517026
Georgia,90013.0,Worth,US,2021-01-02 05:22:33,34.913692,-81.124895,58565,790,0,57961.0,"Worth, Georgia, US",20243.880077,7.276995
Grand Princess,99999.0,NaN,US,2020-08-04 02:27:56,NaN,NaN,103,3,0,100.0,"Grand Princess, US",NaN,2.912621
Guam,66.0,NaN,US,2021-01-02 05:22:33,13.444300,144.793700,7326,122,0,7204.0,"Guam, US",4460.844309,1.665302
Hawaii,90015.0,Unassigned,US,2021-01-02 05:22:33,22.039350,-155.521017,18235,224,0,18011.0,"Unassigned, Hawaii, US",1871.095045,2.341311
Idaho,90016.0,Washington,US,2021-01-02 05:22:33,48.766848,-111.205677,38262,355,0,37907.0,"Washington, Idaho, US",13150.575087,3.095238
Illinois,90017.0,Woodford,US,2021-01-02 05:22:33,42.365424,-87.728840,393652,7860,0,385367.0,"Woodford, Illinois, US",13056.721824,4.454343
Indiana,90018.0,Whitley,US,2021-01-02 05:22:33,41.644239,-84.924971,71487,1300,0,70331.0,"Whitley, Indiana, US",11260.580010,3.846154
Iowa,90019.0,Wright,US,2021-01-02 05:22:33,43.381079,-90.532751,41670,412,0,41258.0,"Wright, Iowa, US",18995.922528,5.468750
Kansas,90020.0,Wyandotte,US,2021-01-02 05:22:33,39.827996,-94.763782,40608,454,0,40202.0,"Wyandotte, Kansas, US",22085.431822,5.970149
Kentucky,90021.0,Woodford,US,2021-01-02 05:22:33,38.970651,-82.394874,50804,530,0,50274.0,"Woodford, Kentucky, US",14088.882885,3.636364
Louisiana,90022.0,Winn,US,2021-01-02 05:22:33,32.831211,-89.518871,31498,679,0,30829.0,"Winn, Louisiana, US",13977.554292,4.492261
Maine,90023.0,York,US,2021-01-02 05:22:33,46.659263,-67.628135,7457,98,0,7359.0,"York, Maine, US",2527.770904,4.450262
Maryland,90024.0,Worcester,US,2021-01-02 05:22:33,39.623576,-75.332000,55139,1129,0,54050.0,"Worcester, Maryland, US",7773.801409,3.638814
Massachusetts,90025.0,Worcester,US,2021-01-02 05:22:33,42.668763,-70.288543,75615,2729,0,72886.0,"Worcester, Massachusetts, US",7405.130831,7.198748
Michigan,90026.0,Wexford,US,2021-01-02 05:22:33,47.631977,-82.679380,84941,3624,0,81317.0,"Wexford, Michigan, US",8613.653473,5.228758
Minnesota,90027.0,Yellow Medicine,US,2021-01-02 05:22:33,48.777541,-90.526295,86273,1382,0,84891.0,"Yellow Medicine, Minnesota, US",16320.680568,13.288288
Mississippi,90028.0,Yazoo,US,2021-01-02 05:22:33,34.880845,-88.239172,14885,272,0,14746.0,"Yazoo, Mississippi, US",11454.408440,4.809287
Missouri,90029.0,Wright,US,2021-01-02 05:22:33,40.479456,-89.295058,69480,1391,0,68089.0,"Wright, Missouri, US",10855.641320,4.402516
Montana,90030.0,Yellowstone,US,2021-01-02 05:22:33,48.784200,-104.251093,13847,161,0,13686.0,"Yellowstone, Montana, US",15391.545912,10.000000
Nebraska,90031.0,York,US,2021-01-02 05:22:33,42.899727,-95.717550,53581,515,0,53066.0,"York, Nebraska, US",17502.247079,13.043478
Nevada,90032.0,White Pine,US,2021-01-02 05:22:33,41.406922,-114.879039,171850,2384,0,169466.0,"White Pine, Nevada, US",12371.747212,3.030303
New Hampshire,90033.0,Unassigned,US,2021-01-02 05:22:33,44.690633,-71.023360,17624,435,0,17189.0,"Unassigned, New Hampshire, US",4226.125532,2.468225
New Jersey,90034.0,Warren,US,2021-01-02 05:22:33,41.138916,-74.071643,52473,2399,0,45300.0,"Warren, New Jersey, US",8002.973142,5.679934
New Mexico,90035.0,Valencia,US,2021-01-02 05:22:33,36.605697,-103.346888,41121,573,0,40548.0,"Valencia, New Mexico, US",13845.334678,6.529851
New York,90036.0,Yates,US,2021-01-02 05:22:33,44.745309,-72.801217,127132,7745,0,119554.0,"Yates, New York, US",8523.308031,271.875000
North Carolina,90037.0,Yancey,US,2021-01-02 05:22:33,36.493609,-75.717673,62454,554,0,61900.0,"Yancey, North Carolina, US",7731.658560,3.931204
North Dakota,90038.0,Williams,US,2021-01-02 05:22:33,48.814939,-96.948530,19929,176,0,19760.0,"Williams, North Dakota, US",18058.592042,4.624277
Northern Mariana Islands,69.0,NaN,US,2021-01-02 05:22:33,15.097900,145.673900,122,2,0,120.0,"Northern Mariana Islands, US",221.238938,1.639344
Ohio,90039.0,Wyandot,US,2021-01-02 05:22:33,41.708603,-80.748302,84050,1511,0,83352.0,"Wyandot, Ohio, US",10498.315001,4.037267
Oklahoma,90040.0,Woodward,US,2021-01-02 05:22:33,36.835327,-94.658593,57993,441,0,57552.0,"Woodward, Oklahoma, US",16345.142055,2.374670
Oregon,90041.0,Yamhill,US,2021-01-02 05:22:33,45.997129,-117.183538,25290,390,0,24900.0,"Yamhill, Oregon, US",9466.487848,5.882353
Pennsylvania,90042.0,York,US,2021-01-02 05:22:33,41.992538,-75.032081,93885,2450,0,91435.0,"York, Pennsylvania, US",7503.576228,4.643351
Puerto Rico,72999.0,Yauco,US,2021-01-02 05:22:33,18.459681,-65.288130,11063,1521,0,11063.0,"Yauco, Puerto Rico, US",3474.112944,63.988220
Recovered,NaN,NaN,US,2021-01-02 05:22:33,NaN,NaN,0,0,0,0.0,"Recovered, US",NaN,NaN
Rhode Island,90044.0,Washington,US,2021-01-02 05:22:33,41.870647,-71.265698,58946,1348,0,57598.0,"Washington, Rhode Island, US",9225.722339,2.543507
South Carolina,90045.0,York,US,2021-01-02 05:22:33,35.051223,-78.995553,37327,502,0,36825.0,"York, South Carolina, US",8041.202989,4.179728
South Dakota,90046.0,Ziebach,US,2021-01-02 05:22:33,45.770749,-96.655783,24977,264,0,24713.0,"Ziebach, South Dakota, US",21435.845214,5.791506
Tennessee,90047.0,Wilson,US,2021-01-02 05:22:33,36.556065,-81.848865,66562,903,0,65659.0,"Wilson, Tennessee, US",20068.415051,2.998236
Texas,90048.0,Zavala,US,2021-01-02 05:22:33,36.278291,-93.744088,239657,3417,0,236240.0,"Zavala, Texas, US",16739.666028,9.523810
Utah,90049.0,Weber-Morgan,US,2021-01-02 05:22:33,41.521068,-109.517442,107386,553,0,106833.0,"Weber-Morgan, Utah, US",10569.993792,2.275960
Vermont,90050.0,Windsor,US,2021-01-02 05:22:33,44.856276,-71.735799,2658,69,0,2589.0,"Windsor, Vermont, US",1622.968237,4.612546
Virgin Islands,78.0,NaN,US,2021-01-02 05:22:33,18.335800,-64.896300,2036,23,0,2013.0,"Virgin Islands, US",1898.049745,1.129666
Virginia,90051.0,York,US,2021-01-02 05:22:33,39.201726,-75.632346,44525,683,0,43842.0,"York, Virginia, US",13187.332598,7.211538
Washington,90053.0,Yakima,US,2021-01-02 05:22:33,48.822280,-117.202285,62580,1050,0,61530.0,"Yakima, Washington, US",9212.156855,4.761905
West Virginia,90054.0,Wyoming,US,2021-01-02 05:22:33,40.519439,-77.860141,8766,207,0,8559.0,"Wyoming, West Virginia, US",7897.871073,3.695652
Wisconsin,90055.0,Wood,US,2021-01-02 05:22:33,46.528688,-87.300027,92090,1003,0,91087.0,"Wood, Wisconsin, US",15759.438104,6.261860
Wyoming,90056.0,Weston,US,2021-01-02 05:22:33,44.790489,-104.353474,7045,92,0,6983.0,"Weston, Wyoming, US",10106.721683,2.664975

,Province_State,FIPS,Admin2,Country_Region,Last_Update,Lat,Long_,Confirmed,Deaths,Recovered,Active,Combined_Key,Incident_Rate,Case_Fatality_Ratio
0,Alabama,90001.0,Winston,US,2021-01-02 05:22:33,34.901719,-85.184153,53058,719,0,52339.0,"Winston, Alabama, US",10522.288119,4.480652
1,Alaska,90002.0,Yukon-Koyukuk,US,2021-04-02 15:13:53,69.314792,-130.975561,22922,120,0,22802.0,"Yukon-Koyukuk, Alaska, US",13205.699989,3.225806
2,Arizona,90004.0,Yuma,US,2021-01-02 05:22:33,35.838834,-109.240528,325404,5196,0,320208.0,"Yuma, Arizona, US",13080.132479,3.213063
3,Arkansas,90005.0,Yell,US,2021-01-02 05:22:33,36.381771,-90.051944,25209,392,0,24817.0,"Yell, Arkansas, US",21713.759214,4.715840
4,California,90006.0,Yuba,US,2021-01-02 05:22:33,41.742283,-115.366904,790582,10552,0,780030.0,"Yuba, California, US",15343.603833,3.149606
5,Colorado,90008.0,Yuma,US,2021-01-02 05:22:33,40.875954,-102.351923,48023,669,0,47354.0,"Yuma, Colorado, US",27388.219766,6.521739
6,Connecticut,90009.0,Windham,US,2021-01-02 05:22:33,41.858538,-71.981823,56288,1852,0,54568.0,"Windham, Connecticut, US",5966.934229,3.967438
7,Delaware,90010.0,Unassigned,US,2021-01-02 05:22:33,39.579926,-75.390313,33433,541,0,32969.0,"Unassigned, Delaware, US",6474.970648,1.964922
8,Diamond Princess,88888.0,NaN,US,2020-08-04 02:27:56,NaN,NaN,49,0,0,49.0,"Diamond Princess, US",NaN,0.000000
9,District of Columbia,11001.0,District of Columbia,US,2021-01-02 05:22:33,38.904178,-77.016560,29252,788,0,28464.0,"District of Columbia, District of Columbia ,US",4144.816358,2.693833
10,Florida,90012.0,Washington,US,2021-01-02 05:22:33,30.867475,-80.431098,298873,4188,0,294685.0,"Washington, Florida, US",16884.350511,4.517026
11,Georgia,90013.0,Worth,US,2021-01-02 05:22:33,34.913692,-81.124895,58565,790,0,57961.0,"Worth, Georgia, US",20243.880077,7.276995
12,Grand Princess,99999.0,NaN,US,2020-08-04 02:27:56,NaN,NaN,103,3,0,100.0,"Grand Princess, US",NaN,2.912621
13,Guam,66.0,NaN,US,2021-01-02 05:22:33,13.444300,144.793700,7326,122,0,7204.0,"Guam, US",4460.844309,1.665302
14,Hawaii,90015.0,Unassigned,US,2021-01-02 05:22:33,22.039350,-155.521017,18235,224,0,18011.0,"Unassigned, Hawaii, US",1871.095045,2.341311
15,Idaho,90016.0,Washington,US,2021-01-02 05:22:33,48.766848,-111.205677,38262,355,0,37907.0,"Washington, Idaho, US",13150.575087,3.095238
16,Illinois,90017.0,Woodford,US,2021-01-02 05:22:33,42.365424,-87.728840,393652,7860,0,385367.0,"Woodford, Illinois, US",13056.721824,4.454343
17,Indiana,90018.0,Whitley,US,2021-01-02 05:22:33,41.644239,-84.924971,71487,1300,0,70331.0,"Whitley, Indiana, US",11260.580010,3.846154
18,Iowa,90019.0,Wright,US,2021-01-02 05:22:33,43.381079,-90.532751,41670,412,0,41258.0,"Wright, Iowa, US",18995.922528,5.468750
19,Kansas,90020.0,Wyandotte,US,2021-01-02 05:22:33,39.827996,-94.763782,40608,454,0,40202.0,"Wyandotte, Kansas, US",22085.431822,5.970149
20,Kentucky,90021.0,Woodford,US,2021-01-02 05:22:33,38.970651,-82.394874,50804,530,0,50274.0,"Woodford, Kentucky, US",14088.882885,3.636364
21,Louisiana,90022.0,Winn,US,2021-01-02 05:22:33,32.831211,-89.518871,31498,679,0,30829.0,"Winn, Louisiana, US",13977.554292,4.492261
22,Maine,90023.0,York,US,2021-01-02 05:22:33,46.659263,-67.628135,7457,98,0,7359.0,"York, Maine, US",2527.770904,4.450262
23,Maryland,90024.0,Worcester,US,2021-01-02 05:22:33,39.623576,-75.332000,55139,1129,0,54050.0,"Worcester, Maryland, US",7773.801409,3.638814
24,Massachusetts,90025.0,Worcester,US,2021-01-02 05:22:33,42.668763,-70.288543,75615,2729,0,72886.0,"Worcester, Massachusetts, US",7405.130831,7.198748
25,Michigan,90026.0,Wexford,US,2021-01-02 05:22:33,47.631977,-82.679380,84941,3624,0,81317.0,"Wexford, Michigan, US",8613.653473,5.228758
26,Minnesota,90027.0,Yellow Medicine,US,2021-01-02 05:22:33,48.777541,-90.526295,86273,1382,0,84891.0,"Yellow Medicine, Minnesota, US",16320.680568,13.288288
27,Mississippi,90028.0,Yazoo,US,2021-01-02 05:22:33,34.880845,-88.239172,14885,272,0,14746.0,"Yazoo, Mississippi, US",11454.408440,4.809287
28,Missouri,90029.0,Wright,US,2021-01-02 05:22:33,40.479456,-89.295058,69480,1391,0,68089.0,"Wright, Missouri, US",10855.641320,4.402516
29,Montana,90030.0,Yellowstone,US,2021-01-02 05:22:33,48.784200,-104.251093,13847,161,0,13686.0,"Yellowstone, Montana, US",15391.545912,10.000000
30,Nebraska,90031.0,York,US,2021-01-02 05:22:33,42.899727,-95.717550,53581,515,0,53066.0,"York, Nebraska, US",17502.247079,13.043478
31,Nevada,90032.0,White Pine,US,2021-01-02 05:22:33,41.406922,-114.879039,171850,2384,0,169466.0,"White Pine, Nevada, US",12371.747212,3.030303
32,New Hampshire,90033.0,Unassigned,US,2021-01-02 05:22:33,44.690633,-71.023360,17624,435,0,17189.0,"Unassigned, New Hampshire, US",4226.125532,2.468225
33,New Jersey,90034.0,Warren,US,2021-01-02 05:22:33,41.138916,-74.071643,52473,2399,0,45300.0,"Warren, New Jersey, US",8002.973142,5.679934
34,New Mexico,90035.0,Valencia,US,2021-01-02 05:22:33,36.605697,-103.346888,41121,573,0,40548.0,"Valencia, New Mexico, US",13845.334678,6.529851
35,New York,90036.0,Yates,US,2021-01-02 05:22:33,44.745309,-72.801217,127132,7745,0,119554.0,"Yates, New York, US",8523.308031,271.875000
36,North Carolina,90037.0,Yancey,US,2021-01-02 05:22:33,36.493609,-75.717673,62454,554,0,61900.0,"Yancey, North Carolina, US",7731.658560,3.931204
37,North Dakota,90038.0,Williams,US,2021-01-02 05:22:33,48.814939,-96.948530,19929,176,0,19760.0,"Williams, North Dakota, US",18058.592042,4.624277
38,Northern Mariana Islands,69.0,NaN,US,2021-01-02 05:22:33,15.097900,145.673900,122,2,0,120.0,"Northern Mariana Islands, US",221.238938,1.639344
39,Ohio,90039.0,Wyandot,US,2021-01-02 05:22:33,41.708603,-80.748302,84050,1511,0,83352.0,"Wyandot, Ohio, US",10498.315001,4.037267
40,Oklahoma,90040.0,Woodward,US,2021-01-02 05:22:33,36.835327,-94.658593,57993,441,0,57552.0,"Woodward, Oklahoma, US",16345.142055,2.374670
41,Oregon,90041.0,Yamhill,US,2021-01-02 05:22:33,45.997129,-117.183538,25290,390,0,24900.0,"Yamhill, Oregon, US",9466.487848,5.882353
42,Pennsylvania,90042.0,York,US,2021-01-02 05:22:33,41.992538,-75.032081,93885,2450,0,91435.0,"York, Pennsylvania, US",7503.576228,4.643351
43,Puerto Rico,72999.0,Yauco,US,2021-01-02 05:22:33,18.459681,-65.288130,11063,1521,0,11063.0,"Yauco, Puerto Rico, US",3474.112944,63.988220
44,Recovered,NaN,NaN,US,2021-01-02 05:22:33,NaN,NaN,0,0,0,0.0,"Recovered, US",NaN,NaN
45,Rhode Island,90044.0,Washington,US,2021-01-02 05:22:33,41.870647,-71.265698,58946,1348,0,57598.0,"Washington, Rhode Island, US",9225.722339,2.543507
46,South Carolina,90045.0,York,US,2021-01-02 05:22:33,35.051223,-78.995553,37327,502,0,36825.0,"York, South Carolina, US",8041.202989,4.179728
47,South Dakota,90046.0,Ziebach,US,2021-01-02 05:22:33,45.770749,-96.655783,24977,264,0,24713.0,"Ziebach, South Dakota, US",21435.845214,5.791506
48,Tennessee,90047.0,Wilson,US,2021-01-02 05:22:33,36.556065,-81.848865,66562,903,0,65659.0,"Wilson, Tennessee, US",20068.415051,2.998236
49,Texas,90048.0,Zavala,US,2021-01-02 05:22:33,36.278291,-93.744088,239657,3417,0,236240.0,"Zavala, Texas, US",16739.666028,9.523810
50,Utah,90049.0,Weber-Morgan,US,2021-01-02 05:22:33,41.521068,-109.517442,107386,553,0,106833.0,"Weber-Morgan, Utah, US",10569.993792,2.275960
51,Vermont,90050.0,Windsor,US,2021-01-02 05:22:33,44.856276,-71.735799,2658,69,0,2589.0,"Windsor, Vermont, US",1622.968237,4.612546
52,Virgin Islands,78.0,NaN,US,2021-01-02 05:22:33,18.335800,-64.896300,2036,23,0,2013.0,"Virgin Islands, US",1898.049745,1.129666
53,Virginia,90051.0,York,US,2021-01-02 05:22:33,39.201726,-75.632346,44525,683,0,43842.0,"York, Virginia, US",13187.332598,7.211538
54,Washington,90053.0,Yakima,US,2021-01-02 05:22:33,48.822280,-117.202285,62580,1050,0,61530.0,"Yakima, Washington, US",9212.156855,4.761905
55,West Virginia,90054.0,Wyoming,US,2021-01-02 05:22:33,40.519439,-77.860141,8766,207,0,8559.0,"Wyoming, West Virginia, US",7897.871073,3.695652
56,Wisconsin,90055.0,Wood,US,2021-01-02 05:22:33,46.528688,-87.300027,92090,1003,0,91087.0,"Wood, Wisconsin, US",15759.438104,6.261860
57,Wyoming,90056.0,Weston,US,2021-01-02 05:22:33,44.790489,-104.353474,7045,92,0,6983.0,"Weston, Wyoming, US",10106.721683,2.664975

,Province_State,FIPS,Admin2,Country_Region,Last_Update,Lat,Long_,Confirmed,Deaths,Recovered,Active,Combined_Key,Incident_Rate,Case_Fatality_Ratio
0,Alabama,90001.0,Winston,US,2021-01-02 05:22:33,34.901719,-85.184153,53058,719,0,52339.0,"Winston, Alabama, US",10522.288119,4.480652
1,Alaska,90002.0,Yukon-Koyukuk,US,2021-04-02 15:13:53,69.314792,-130.975561,22922,120,0,22802.0,"Yukon-Koyukuk, Alaska, US",13205.699989,3.225806
2,Arizona,90004.0,Yuma,US,2021-01-02 05:22:33,35.838834,-109.240528,325404,5196,0,320208.0,"Yuma, Arizona, US",13080.132479,3.213063
3,Arkansas,90005.0,Yell,US,2021-01-02 05:22:33,36.381771,-90.051944,25209,392,0,24817.0,"Yell, Arkansas, US",21713.759214,4.715840
4,California,90006.0,Yuba,US,2021-01-02 05:22:33,41.742283,-115.366904,790582,10552,0,780030.0,"Yuba, California, US",15343.603833,3.149606
5,Colorado,90008.0,Yuma,US,2021-01-02 05:22:33,40.875954,-102.351923,48023,669,0,47354.0,"Yuma, Colorado, US",27388.219766,6.521739
6,Connecticut,90009.0,Windham,US,2021-01-02 05:22:33,41.858538,-71.981823,56288,1852,0,54568.0,"Windham, Connecticut, US",5966.934229,3.967438
7,Delaware,90010.0,Unassigned,US,2021-01-02 05:22:33,39.579926,-75.390313,33433,541,0,32969.0,"Unassigned, Delaware, US",6474.970648,1.964922
10,Florida,90012.0,Washington,US,2021-01-02 05:22:33,30.867475,-80.431098,298873,4188,0,294685.0,"Washington, Florida, US",16884.350511,4.517026
11,Georgia,90013.0,Worth,US,2021-01-02 05:22:33,34.913692,-81.124895,58565,790,0,57961.0,"Worth, Georgia, US",20243.880077,7.276995
14,Hawaii,90015.0,Unassigned,US,2021-01-02 05:22:33,22.039350,-155.521017,18235,224,0,18011.0,"Unassigned, Hawaii, US",1871.095045,2.341311
15,Idaho,90016.0,Washington,US,2021-01-02 05:22:33,48.766848,-111.205677,38262,355,0,37907.0,"Washington, Idaho, US",13150.575087,3.095238
16,Illinois,90017.0,Woodford,US,2021-01-02 05:22:33,42.365424,-87.728840,393652,7860,0,385367.0,"Woodford, Illinois, US",13056.721824,4.454343
17,Indiana,90018.0,Whitley,US,2021-01-02 05:22:33,41.644239,-84.924971,71487,1300,0,70331.0,"Whitley, Indiana, US",11260.580010,3.846154
18,Iowa,90019.0,Wright,US,2021-01-02 05:22:33,43.381079,-90.532751,41670,412,0,41258.0,"Wright, Iowa, US",18995.922528,5.468750
19,Kansas,90020.0,Wyandotte,US,2021-01-02 05:22:33,39.827996,-94.763782,40608,454,0,40202.0,"Wyandotte, Kansas, US",22085.431822,5.970149
20,Kentucky,90021.0,Woodford,US,2021-01-02 05:22:33,38.970651,-82.394874,50804,530,0,50274.0,"Woodford, Kentucky, US",14088.882885,3.636364
21,Louisiana,90022.0,Winn,US,2021-01-02 05:22:33,32.831211,-89.518871,31498,679,0,30829.0,"Winn, Louisiana, US",13977.554292,4.492261
22,Maine,90023.0,York,US,2021-01-02 05:22:33,46.659263,-67.628135,7457,98,0,7359.0,"York, Maine, US",2527.770904,4.450262
23,Maryland,90024.0,Worcester,US,2021-01-02 05:22:33,39.623576,-75.332000,55139,1129,0,54050.0,"Worcester, Maryland, US",7773.801409,3.638814
24,Massachusetts,90025.0,Worcester,US,2021-01-02 05:22:33,42.668763,-70.288543,75615,2729,0,72886.0,"Worcester, Massachusetts, US",7405.130831,7.198748
25,Michigan,90026.0,Wexford,US,2021-01-02 05:22:33,47.631977,-82.679380,84941,3624,0,81317.0,"Wexford, Michigan, US",8613.653473,5.228758
26,Minnesota,90027.0,Yellow Medicine,US,2021-01-02 05:22:33,48.777541,-90.526295,86273,1382,0,84891.0,"Yellow Medicine, Minnesota, US",16320.680568,13.288288
27,Mississippi,90028.0,Yazoo,US,2021-01-02 05:22:33,34.880845,-88.239172,14885,272,0,14746.0,"Yazoo, Mississippi, US",11454.408440,4.809287
28,Missouri,90029.0,Wright,US,2021-01-02 05:22:33,40.479456,-89.295058,69480,1391,0,68089.0,"Wright, Missouri, US",10855.641320,4.402516
29,Montana,90030.0,Yellowstone,US,2021-01-02 05:22:33,48.784200,-104.251093,13847,161,0,13686.0,"Yellowstone, Montana, US",15391.545912,10.000000
30,Nebraska,90031.0,York,US,2021-01-02 05:22:33,42.899727,-95.717550,53581,515,0,53066.0,"York, Nebraska, US",17502.247079,13.043478
31,Nevada,90032.0,White Pine,US,2021-01-02 05:22:33,41.406922,-114.879039,171850,2384,0,169466.0,"White Pine, Nevada, US",12371.747212,3.030303
32,New Hampshire,90033.0,Unassigned,US,2021-01-02 05:22:33,44.690633,-71.023360,17624,435,0,17189.0,"Unassigned, New Hampshire, US",4226.125532,2.468225
33,New Jersey,90034.0,Warren,US,2021-01-02 05:22:33,41.138916,-74.071643,52473,2399,0,45300.0,"Warren, New Jersey, US",8002.973142,5.679934
34,New Mexico,90035.0,Valencia,US,2021-01-02 05:22:33,36.605697,-103.346888,41121,573,0,40548.0,"Valencia, New Mexico, US",13845.334678,6.529851
35,New York,90036.0,Yates,US,2021-01-02 05:22:33,44.745309,-72.801217,127132,7745,0,119554.0,"Yates, New York, US",8523.308031,271.875000
36,North Carolina,90037.0,Yancey,US,2021-01-02 05:22:33,36.493609,-75.717673,62454,554,0,61900.0,"Yancey, North Carolina, US",7731.658560,3.931204
37,North Dakota,90038.0,Williams,US,2021-01-02 05:22:33,48.814939,-96.948530,19929,176,0,19760.0,"Williams, North Dakota, US",18058.592042,4.624277
39,Ohio,90039.0,Wyandot,US,2021-01-02 05:22:33,41.708603,-80.748302,84050,1511,0,83352.0,"Wyandot, Ohio, US",10498.315001,4.037267
40,Oklahoma,90040.0,Woodward,US,2021-01-02 05:22:33,36.835327,-94.658593,57993,441,0,57552.0,"Woodward, Oklahoma, US",16345.142055,2.374670
41,Oregon,90041.0,Yamhill,US,2021-01-02 05:22:33,45.997129,-117.183538,25290,390,0,24900.0,"Yamhill, Oregon, US",9466.487848,5.882353
42,Pennsylvania,90042.0,York,US,2021-01-02 05:22:33,41.992538,-75.032081,93885,2450,0,91435.0,"York, Pennsylvania, US",7503.576228,4.643351
45,Rhode Island,90044.0,Washington,US,2021-01-02 05:22:33,41.870647,-71.265698,58946,1348,0,57598.0,"Washington, Rhode Island, US",9225.722339,2.543507
46,South Carolina,90045.0,York,US,2021-01-02 05:22:33,35.051223,-78.995553,37327,502,0,36825.0,"York, South Carolina, US",8041.202989,4.179728
47,South Dakota,90046.0,Ziebach,US,2021-01-02 05:22:33,45.770749,-96.655783,24977,264,0,24713.0,"Ziebach, South Dakota, US",21435.845214,5.791506
48,Tennessee,90047.0,Wilson,US,2021-01-02 05:22:33,36.556065,-81.848865,66562,903,0,65659.0,"Wilson, Tennessee, US",20068.415051,2.998236
49,Texas,90048.0,Zavala,US,2021-01-02 05:22:33,36.278291,-93.744088,239657,3417,0,236240.0,"Zavala, Texas, US",16739.666028,9.523810
50,Utah,90049.0,Weber-Morgan,US,2021-01-02 05:22:33,41.521068,-109.517442,107386,553,0,106833.0,"Weber-Morgan, Utah, US",10569.993792,2.275960
51,Vermont,90050.0,Windsor,US,2021-01-02 05:22:33,44.856276,-71.735799,2658,69,0,2589.0,"Windsor, Vermont, US",1622.968237,4.612546
53,Virginia,90051.0,York,US,2021-01-02 05:22:33,39.201726,-75.632346,44525,683,0,43842.0,"York, Virginia, US",13187.332598,7.211538
54,Washington,90053.0,Yakima,US,2021-01-02 05:22:33,48.822280,-117.202285,62580,1050,0,61530.0,"Yakima, Washington, US",9212.156855,4.761905
55,West Virginia,90054.0,Wyoming,US,2021-01-02 05:22:33,40.519439,-77.860141,8766,207,0,8559.0,"Wyoming, West Virginia, US",7897.871073,3.695652
56,Wisconsin,90055.0,Wood,US,2021-01-02 05:22:33,46.528688,-87.300027,92090,1003,0,91087.0,"Wood, Wisconsin, US",15759.438104,6.261860
57,Wyoming,90056.0,Weston,US,2021-01-02 05:22:33,44.790489,-104.353474,7045,92,0,6983.0,"Weston, Wyoming, US",10106.721683,2.664975